<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<!--/* 
		 필요한 html 요소만 정의한다 
		 th:fragment="headerFragment"를 반드시 명시한다. - layout.html에서 사용
 */-->
	<nav th:fragment="headerFragment" class="navbar navbar-expand-sm bg-light navbar-light">
		<ul class="navbar-nav">
			<li class="nav-item active"><a class="nav-link" href="#"
				th:href="@{/}">Home</a></li>
			<li class="nav-item"><a class="nav-link" href="#">Link</a></li>
			<li class="nav-item"><a class="nav-link" href="#">Link</a></li>
			<li class="nav-item"><a class="nav-link disabled" href="#">Disabled</a>
			</li>
		</ul>
	</nav>
</html>