<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>home</title>
</head>
<body>
	<h1 th:text="${message}">SpringBoot Thymeleaf MyBatis 연동</h1>
	<a href="/member/member-totalcount">총 회원 수</a>
	<!--/*  
		이 부분은 thymeleaf 주석!
		
		table : spring_member
		mapper : src/main/resource/org/kosa/myproject/mapper/MemberMapper.xml
		package name : org.kosa.myproject.mapper.MemberMapper interface
		 			   getTotalMemberCount():int
		controller : org.kosa.myproject.controller.MemberController
					 url-pattern : /member/member-tatalcount
					 getTotalMemberCount() : String
		view : templates/member/total-count.html
			   총 회원수 몇 명
	*/-->
</body>
</html>