<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.kosa.myproject.mapper.MemberMapper">
	<select id="getTotalMemberCount" resultType="int">
		SELECT COUNT(*) FROM spring_member
	</select>
	<insert id="register" parameterType="org.kosa.myproject.domain.Member">
		INSERT INTO spring_member(id, password, name, address) VALUES(#{id}, #{password}, #{name}, #{address})
	</insert>
	
	<select id="findMemberById" resultType="org.kosa.myproject.domain.Member" parameterType="String">
		SELECT id, password, name, address FROM spring_member WHERE id = #{id}
	</select>
	
	<select id="findAllMemberList" resultType="org.kosa.myproject.domain.Member">
		SELECT id, password, name, address FROM spring_member
	</select>
	
	<update id="updateMember" parameterType="org.kosa.myproject.domain.Member">
		UPDATE spring_member SET password = #{password}, name = #{name}, address = #{address} WHERE id = #{id} 
	</update>
	
	<delete id="deleteMember" parameterType="string">
		DELETE FROM spring_member WHERE id = #{id} 
	</delete>
</mapper>