<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>회원 페이지</title>
</head>
<body bgcolor="yellow">
	<h1>회원 페이지</h1>
	<h2>회원 검색 테스트</h2>
	<form action="/member/find-by-id" method="get">
		<input type="text" name="memberId" required="required" placeholder="아이디">
		<button type="submit">회원 정보 조회(GET)</button>
	</form>
	
	<h2>회원 검색 테스트2</h2>
	<form action="/member/find-by-id2" method="get">
		<input type="text" name="memId" required="required" placeholder="아이디">
		<button type="submit">회원 정보 조회2(GET)</button>
	</form>
	<!--  
		MemberController에 적절한 컨트롤러 메서드를 정의하고
		응답은 회원 아이디가 java 문자열이면 member/findbyid-ok.html에서 응답 (lime 색)
		java가 아니면 member/findbyid-fail.html에서 응답
	-->
	
	<h2>3. 파라미터 테스트</h2>
	<form action="/member/param-test" method="get">
		<input type="text" name="nick" required="required" placeholder="닉네임">
		<input type="number" name="age" required="required" placeholder="나이">
		<button type="submit">파라미터 테스트(GET)</button>
	</form>
	<!--  
		MemberController method 명 : paramTest(매개변수는 name에 매칭되도록 선언)
		age가 18세 초과하면 Model에 type이라는 name으로 성인이라고 할당
		18세 이하면 Model에 type이라는 name으로 미성년이라고 할당
		view name : templates 아래의 member 아래에 param-result로 응답
		param-result.html에서는 몇 세 성인 또는 미성년 이라고 보여주면 된다.
	-->
	
	<h2>4. member object parameter 테스트</h2>
	<form action="/member/register" method="post">
		<input type="text" name="id" required="required" placeholder="아이디"> <br>
		<input type="password" name="password" required="required" placeholder="패스워드"> <br>
		<input type="text" name="name" required="required" placeholder="이름"> <br>
		<input type="text" name="address" required="required" placeholder="주소"> <br>
		<button type="submit">회원 등록 테스트(POST)</button>
	</form>
</body>
</html>