<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.kosa.myproject.mapper.MemberMapper">
	<select id="findMemberMapList" resultType="map">
		SELECT id, password, name, address FROM spring_member
	</select>
	
	<insert id="insertMember">
		INSERT INTO spring_member(id, password, name, address) VALUES (#{id}, #{password}, #{name}, #{address})
	</insert>
</mapper>